# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django specific
db.sqlite3
*.pot
*.pyc
*.pyo
*.pyd

# Ignore the Django migrations folder (optional, if you prefer to not track migration files)
*/migrations/
**/migrations/*.py
**/migrations/*.pyc

# Environment variables and settings
.env
*.env

# Ignore secrets and credentials
secrets.json

# Node modules (if using JavaScript front-end dependencies)
node_modules/

# Static and media files
staticfiles/
media/

# Ignore virtual environment
venv/
env/

# Ignore Python packaging
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
*.manifest
*.spec

# IDE-specific files (Optional)
.vscode/
.idea/

# Local development logs
*.log
